  <h1>Anime List</h1>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="filter.keyword" placeholder="title or creator">
  </div>
  <div ng-repeat="anime in animes | filter:filter.keyword | filter:{creator:link} | limitTo : 30">
    <div class="row">
      <div class="col-xs-6">
        <a href="#" ng-click="showDetails = ! showDetails">{{anime.title}}</a>
      </div>
      <div class="col-xs-6" ng-show="showDetails">
        <div ng-repeat="(key, value) in anime.creator">
          <div ng-show="showDetails">
           {{key}} <a href="#" ng-repeat="v in value" ng-click="setKeyword(v)"> {{v + '  '}}</a>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
